{
	admin off
	auto_https off
}

:8080 {
	root * /srv
	encode zstd gzip
	@profil path /profil /profil/*
	handle @profil {
		rewrite * /profil/index.html
		file_server {
			disable_canonical_uris
		}
	}
	@bibliotheque path /bibliotheque /bibliotheque/
	handle @bibliotheque {
		rewrite * /bibliotheque/index.html
		file_server {
			disable_canonical_uris
		}
	}
	handle {
		file_server
	}
}
